body {
  font-family: "Roboto", sans-serif;
}
.center-text {
  text-align: center;
}
.landing-img {
  height: 100vh;
  width: 100%;
}
.absolute-center {
  margin-top: 10vh;
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 45%;
}
.main-logo-width {
  width: 9vw;
}
.engranje {
  font-size: 2vw !important;
}

.container-logo {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
.parent {
  display: inline-block;
}
.s15 {
  transform: scale(2);
}
.container-arrow {
  margin-top: 20vh;
  text-transform: uppercase;
  color: #22ac00;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
}
.container-arrow:hover {
  color: #22ac00;
}

/* Arrow Bouncing */
.container-arrow span {
  display: inline-block;
  font-size: 5vw;
  animation: 0.7s down infinite alternate;
  -webkit-animation: 0.7s down infinite alternate;
}
/***Animation Arrow down***/
@keyframes down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}

.hided {
  opacity: 0;
}
/* 
.special-border {
  border: 5px solid #0000;
  background: linear-gradient(rgb(255, 255, 255) 0 0) padding-box,
    repeating-conic-gradient(rgb(255, 0, 0) 0 25%, #0000 0 50%) border-box;
} */

#fancy-borders {
  position: relative;
  background-color: rgb(255, 255, 255);
  /* not required for the effect to work */
}

#fancy-borders:before,
#fancy-borders:after {
  content: "";
  position: absolute;
  /** very important */
  width: 8%;
  /* change this per your requirement */
  height: 20%;
  /* change this per your requirement */
  background-color: #22ac00;
  /* change this per your requirement */
  z-index: -1;
  /* place the pseudo elements behind the actual DIV */
}

/* pseudo-elements positionning */

#fancy-borders:before {
  bottom: -5px;
  /* change this per your requirement */
  right: -5px;
  /* change this per your requirement */
}

#fancy-borders:after {
  top: -5px;
  /* change this per your requirement */
  left: -5px;
  /* change this per your requirement */
}

.comment {
  font-style: italic;
  color: #888;
  text-align: right;
  font-size: 0.8vw;
}
.who-h1 {
  font-size: 2.9vw;
  color: #22ac00;
  text-align: left;
}
.who-h2 {
  padding-left: 2vw;
  font-size: 1.9vw;
  color: rgb(65, 65, 65);
  text-align: left;
}
.who-p {
  font-size: 1.05vw;
  text-align: justify;
}
.text-my-red {
  color: #22ac00;
}
.justify-text {
  text-align: justify;
}
.margin-top-section1 {
  padding-top: 20vh;
}
.margin-top-section2 {
  padding-top: 15vh;
}
.margin-top-section3 {
  padding-top: 25vh;
}
.margin-top-section4 {
  padding-top: 30vh;
}

.border-red-r {
  border-right: 3px solid #22ac00;
}
.border-red-r-2 {
  border-right: 2px solid #22ac00;
}

.service-h1 {
  font-size: 2.4vw;
  color: #22ac00;
  text-align: center;
}
.service-h2 {
  padding-left: 2vw;
  font-size: 1.9vw;
  color: rgb(65, 65, 65);
  text-align: center;
}
.service-p {
  font-size: 1.05vw;
  text-align: justify;
}
.border-red-l {
  border-left: 3px solid #22ac00;
}
.border-red-l-2 {
  border-left: 2px solid #22ac00;
}
.border-red-b {
  border-bottom: 3px solid #22ac00;
}
.border-red-b-2 {
  border-bottom: 5px solid #22ac00;
}
.border-red-b-3 {
  border-bottom: 2px solid #22ac00;
}
.border-red-t {
  border-top: 3px solid #22ac00;
}
.border-red-t-2 {
  border-top: 2px solid #22ac00;
}

/* FONT SIZE THRU MEDIA VIEWPORT
@media (min-width: 1000px) {
  .sizehome {
    font-size: 6vw;
  }
  .sizehomemb {
    font-size: 6vw;
  }
  .sizehomeq {
    font-size: 4vw;
  }
  .sizehome2 {
    font-size: 2vw;
  }
  .sizehomet {
    font-size: 2vw;
  }
  .sizehomeb {
    font-size: 1vw;
  }
  .sizehomes {
    font-size: 1vw;
  }
  .sizehome3 {
    font-size: 3vw;
  }
  .sizehomed {
    font-size: 1.6vw;
  }
}

@media (max-width: 1000px) {
  .sizehome {
    font-size: 12vw;
  }
  .sizehomemb {
    font-size: 7vw;
  }
  .sizehomeq {
    font-size: 5vw;
  }
  .sizehome2 {
    font-size: 5vw;
  }
  .sizehomet {
    font-size: 5vw;
  }
  .sizehomeb {
    font-size: 5vw;
  }
  .sizehomes {
    font-size: 3vw;
  }
  .sizehome3 {
    font-size: 4vw;
  }
  .sizehomed {
    font-size: 6vw;
  }
}
 */
