.motocard-brand {
  font-size: 1.1vw;
  color: rgb(65, 65, 65);
}
.motocard-model {
  color: #22ac00;
  font-size: 1.7vw;
  font-weight: bold;
}
.motocard-btn {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  background-color: rgb(211, 211, 211);
  color: black;
}
.motocard-description {
  font-size: 0.9vw;
  text-align: justify;
  color: rgb(65, 65, 65);
}
.motocard-description-tittle {
  font-size: 1.1vw;
}
.motocard-price {
  font-size: 2vw;
  font-weight: bold;
}
.motocard {
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2);
}
