.mynav {
  position: fixed;
  top: 0;
  z-index: 99;
  font-size: 1vw;
  transition: padding 0.5s ease, background-color 0.5s ease;
  width: 100vw;
}

.border-all-r {
  border: 2px solid red;
}
.border-left-r {
  border-left: 2px solid red;
}
.w100 {
  width: 100% !important;
}
.shadowed {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); /* Cambia los valores según tus preferencias */
}

.line {
  position: relative;
}
.container-logo-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  transform: scaleX(0);
  background: #ff1b1b;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logo {
  transition: transform 0.5s ease-out;
  font-size: 1.2vw;
}
.logo:hover {
  transform: scale(1.1);
}
.bg-empty {
  background-color: rgba(0, 0, 0, 0);
}
.bg-gradient-1 {
  background-image: linear-gradient(to bottom, #000000, #fffde400);
}
.bg-white-gradient {
  background-color: rgba(255, 255, 255, 0.705);
}
