.sliderm {
  position: relative;
}
.boton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}
.boton-i {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1;
}
.head-tranlucid {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.266) 0%,
    rgba(255, 255, 255, 0.266) 100%
  );
}
.w100 {
  width: 100%;
}
.opa0 {
  opacity: 0;
}
.opa07 {
  background-color: rgba(0, 0, 0, 0.7);
}
.opa1 {
  opacity: 1;
}
.iconol {
  float: left;
  text-align: left;
}
.iconor {
  float: right;
  text-align: right;
}
.item-containerm {
  position: relative;
  width: 98%;
}
.zup {
  z-index: 2;
}

.colpm {
  flex: 0 0 auto;
  width: 32%;
  max-width: 32%;
}

.hide-slider {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.show-slider {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

/*BORDERS*/
.bordecitoall {
  border: 1px solid white;
}
.bordecitob {
  border-bottom: 1px solid white;
}
.hphoto {
  height: 40vh;
}
.h400px {
  height: 400px;
}
