.ocasion {
  color: #33ff00;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: left;
}
.veh-tittle {
  font-size: 5.2vw;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  font-family: "Rem", sans-serif;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

.container-sliced {
  display: grid;
  place-content: center;
  text-transform: uppercase;
}
.h100 {
  height: 100%;
}
.border-green-b-3 {
  border-bottom: 2px solid #33ff00;
}
.border-green-t {
  border-top: 3px solid #33ff00;
}
.margin-top-veh {
  margin-top: 15vh;
}
.boton-search {
  border-top: 2px solid #22ac00;
  border-bottom: 2px solid #22ac00;
  border-right: 2px solid #22ac00;
  border-left: none;
  border-radius: 1px;
  background-color: white;
  font-weight: bold;
  color: rgb(65, 65, 65);
  font-size: 0.7vw;
}
.boton-search:hover {
  background-color: #5fb948;
}
.botonaco {
  border: 2px solid #22ac00;
  border-radius: 1px;
  background-color: white;
  font-weight: bold;
  color: rgb(65, 65, 65);
  font-size: 0.9vw;
}
.botonaco:hover {
  background-color: #5fb948;
}
.input-search {
  border: 2px solid #22ac00;
  border-radius: 1px;
  background-color: white;
  font-weight: bold;
  color: rgb(65, 65, 65);
  font-size: 0.7vw;
}
input[type="search"]:focus {
  outline: none; /* Quita el borde de enfoque */
  box-shadow: none; /* Quita cualquier sombra de enfoque */
}
.color-green {
  color: #22ac00;
}
